* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.first-screen {
    height: 802px;
    background: url("../img/main_bg.png") center center/cover no-repeat;
    padding: 32px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
    height: 71px;
    width: 83px;
}

.logo .logo_text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 35px;
    text-align: center;
    color: #FFFF;
    text-transform: uppercase;
}

h1 {
    margin-top: 39px;
}

h2.title {
    margin-top: 30px;
}

.title {
    font-family: Roboto;
    color: #F9BF3B;
    font-size: 41px;
    font-weight: 900;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;

}

.title_big {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
    color: #FFFF;
}

.first-screen .first-screen_description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFF;
    text-align: center;
    padding-top: 22px;
}

.first-screen .first-screen_description span{
    color: #F9BF3B;
    text-transform: uppercase;
    font-weight: 600;
}

.first-screen_btn {
    display: block;
    width: 313px;
    height: 72px;
    margin: 72px auto;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 3%;
    border: none;
    font-family: 'RobotoCondensed';
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFF;
    cursor: pointer;
}

.first-screen_about{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.first-screen_about_img img{
    display: block;
    margin: 5px auto;
}

.waiting {
    height: 604px;
    padding: 86px 0 74px 0;
    background-color: #EFEFEF;
}

h2.waiting__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.waiting .waiting__divider {
    margin: 18px auto 0;
    width: 220px;
    height: 4px;
    background: #F9BF3B;
    text-align: center;
}

.waiting__subheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    margin-top: 18px;
}

.waiting .waiting__wrapper {
    margin-top: 65px;
    display: flex;
    justify-content: space-around;
}

.waiting .waiting__wrapper .waiting__wrapper_item {
    width: 350px;
    vertical-align: top;
    text-align: center;
    margin: 0 13px;
}

.waiting .waiting__wrapper .waiting__wrapper_item .waiting__wrapper_item-descr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    margin-top: 26px;
    color: #4A4A4A;
}

.my-flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 450px;
}

.my-flex-item {
    width: 150px;
    height: 150px;
    background-color: red;
    text-align: center;
    color: #FFFF;
}
